<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}{% endblock styles %}
  </head>

  <body>
    {% block content %}{% endblock content %}
    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>