{% extends "./base.njk" %}

{% block styles %}
  <link href="./static/css/second.css" rel="stylesheet">
{% endblock styles %}

{% block javascripts %}
  <script src="./static/js/second.js" type="text/javascript"></script>
{% endblock javascripts %}

{% block content %}
  <div>Other page</div>
  <a href="./index.html">Index page</a>
  <svg class="icon">
    <use xlink:href="#icon-maintenance"></use>
  </svg>
{% endblock content %}